<div id="indexPanel">
    {% if user.isActive %}
        <div class="user-container" style="background-image: url({{ route('user.header', user.id) }});">
            <div class="default-avatar-setting user-container-avatar" style="background-image: url({{ route('file.avatar', user.id) }}); box-shadow: 0 0 5px {{ user.colour }};"><a href="{{ route('settings.appearance.avatar') }}" class="clean" style="display: block; height: 100%; width: 100%;"></a></div>
            <div class="user-container-info">
                <a href="{{ route('user.profile', user.id) }}" class="clean"><h1 style="color: {{ user.colour }}; text-shadow: 0 0 7px {% if user.colour != 'inherit' %}{{ user.colour }}{% else %}#222{% endif %}; padding: 0 0 2px;">{{ user.username }}</h1></a>
                {% set friendRequests = user.friends(-1, true)|length %}
                {% if friendRequests %}
                    <a class="default" href="{{ route('settings.friends.requests') }}" title="Pending friend requests">{{ friendRequests }} new friend requests</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        {% if config('lock_authentication') %}
            <div class="head">Whoops!</div>
            You caught the site at the wrong moment! Right now registration <i>and</i> logging in is disabled for unspecified reasons. Sorry for the inconvenience but please try again later!
            <div class="indexSidePanelLinks">
                <a class="fa fa-lock" href="#" title="Authentication is locked"></a>
            </div>
        {% else %}
            <div class="head">Welcome!</div>
            Welcome to Flashii! This is a site for a bunch of friends to hang out, nothing special. Anyone is pretty much welcome to register so why not have a go?
            <div class="indexSidePanelLinks">
                <a class="fa fa-magic" href="{{ route('auth.register') }}" title="Register" id="indexSidePanelRegister"></a>
                <a class="fa fa-sign-in" href="{{ route('auth.login') }}" title="Login" id="indexSidePanelLogin"></a>
            </div>
        {% endif %}
    {% endif %}
    <div class="head">Stats</div>
    We have <b>{{ stats.userCount }} user{% if stats.userCount != 1 %}s{% endif %}</b>,
    <b><a href="{{ route('user.profile', stats.newestUser.id) }}" style="color: {{ stats.newestUser.colour }};" class="default">{{ stats.newestUser.username }}</a></b> is the newest user,
    it has been <b>{{ stats.lastRegDate }} day{{ stats.lastRegDate == 1 ? '' : 's' }}</b> since the last user registered and the forum has <b>{{ stats.topicCount }} thread{% if stats.topicCount != 1 %}s{% endif %}</b> and <b>{{ stats.postCount }} post{% if stats.postCount != 1 %}s{% endif %}</b>.
    <div class="head">Online Users</div>
    {% if stats.onlineUsers %}
        All active users in the past {{ config('max_online_time') / 60 }} minute{% if config('max_online_time') != 60 %}s{% endif %}
        <table class="panelTable">
            {% for amount,onlineUser in stats.onlineUsers %}
            <tr><td style="text-align: left;"><a href="{{ route('user.profile', onlineUser.id) }}" style="font-weight: bold; color: {{ onlineUser.colour }};" class="default">{{ onlineUser.username }}</a></td><td style="text-align: right;"><time datetime="{{ onlineUser.lastOnline|date('r') }}">{{ onlineUser.lastOnline|date(config('date_format')) }}</time></td></tr>
            {% endfor %}
        </table>
    {% else %}
        There were no online users in the past {{ config('max_online_time') / 60 }} minute{% if config('max_online_time') != 60 %}s{% endif %}.
    {% endif %}
</div>
