{% if newsHideTitle is not defined %}<a href="{{ route('news.post', post.id) }}" class="news-head" id="p{{ post.id }}">{{ post.title }}</a>{% endif %}
<div class="news-body">
    <a class="no-underline" href="{{ route('user.profile', post.userData.id) }}">
        <div class="news-poster">
            <img src="{{ route('file.avatar', post.userData.id) }}" alt="{{ post.userData.username }}" class="default-avatar-setting" />
            <h1 style="color: {{ post.userData.colour }}; text-shadow: 0 0 7px {% if post.userData.colour != 'inherit' %}{{ post.userData.colour }}{% else %}#222{% endif %}; padding: 0 0 10px;">{{ post.userData.username }}</h1>
        </div>
    </a>
    <div class="bbcode">
        {{ post.text|raw }}
    </div>
</div>
<div class="clear"></div>
<div class="news-post-time">
    Posted <time>{{ post.time|date(sakura.dateFormat) }}</time>
    {% if newsHideCommentCount is not defined %}<a class="default" href="{{ route('news.post', post.id) }}#comments">{{ post.commentCount }} comment{% if post.commentCount != 1 %}s{% endif %}</a>{% endif %}
</div>
