{% extends 'global/master.twig' %}

{% block title %}Authentication{% endblock %}

{% block content %}
    {% if sakura.lockAuth %}
        <h1 class="stylised" style="line-height: 1.8em; text-align: center;">Authentication is currently disallowed, try again later.</h1>
    {% else %}
    <div class="loginPage">
            <div class="passwordForm">
                <div class="head">
                    Lost Password
                </div>
                <form method="post" action="{{ urls.format('AUTH_ACTION') }}" id="passwordForm">
                    <input type="hidden" name="mode" value="forgotpassword" />
                    <input type="hidden" name="session" value="{{ php.sessionid }}" />
                    <input type="hidden" name="time" value="{{ php.time }}" />
                    <div class="leftAlign">
                        <label for="forgotUserName">Username:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="text" id="forgotUserName" name="username" />
                    </div>
                    <div class="leftAlign">
                        <label for="forgotEmail">E-mail:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="text" id="forgotEmail" name="email" />
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="submit" name="submit" value="Request Password" id="requestPassBtn" />
                    </div>
                    <div class="subLinks centreAlign">
                        Contact us if you lost access to your e-mail address!
                    </div>
                </form>
            </div>
            {% if sakura.requireActivation %}
            <div class="resendForm">
                <div class="head">
                    Resend Activation E-mail
                </div>
                <form method="post" action="{{ urls.format('AUTH_ACTION') }}" id="resendForm">
                    <input type="hidden" name="mode" value="resendactivemail" />
                    <input type="hidden" name="session" value="{{ php.sessionid }}" />
                    <input type="hidden" name="time" value="{{ php.time }}" />
                    <div class="leftAlign">
                        <label for="activeUserName">Username:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="text" id="activeUserName" name="username" />
                    </div>
                    <div class="leftAlign">
                        <label for="activeEmail">E-mail:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="text" id="activeEmail" name="email" />
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="submit" name="submit" value="Request Activation" id="requestActiveBtn" />
                    </div>
                    <div class="subLinks centreAlign">
                        Read the footnote on the Lost Password form.
                    </div>
                </form>
            </div>
            {% endif %}
    </div>
    {% endif %}
{% endblock %}
