{% extends 'global/master.twig' %}

{% set profileHidden = profile.permission(constant('Sakura\\Perms\\Site::DEACTIVATED')) or (profile.permission(constant('Sakura\\Perms\\Site::RESTRICTED')) and (user.id != profile.id and not user.permission(constant('Sakura\\Perms\\Manage::USE_MANAGE'), constant('Sakura\\Perms::MANAGE')))) %}

{% set noUserpage = profile.userPage|length < 1 %}

{% set profileView = noUserpage and profileView == 'index' ? 'comments' : profileView %}

{% block title %}{% if profileHidden %}User not found!{% else %}Profile of {{ profile.username }}{% endif %}{% endblock %}

{% block content %}
    {% if profileHidden %}
        <div class="content standalone">
            <div style="padding: 20px;">
                <h1>The requested user does not exist!</h1>
                There are a few possible reasons for this:
                <ul style="padding-left: 40px;">
                    <li>They changed their username.</li>
                    <li>They may have been <a href="{{ urls.format('SITE_FAQ') }}#abyss" class="default">abyss'd</a>.</li>
                    <li>You made a typo.</li>
                    <li>They never existed.</li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="content profile">
            <div class="content-right content-column">
                <div style="text-align: center;{% if profile.header %} background: url({{ urls.format('IMAGE_HEADER', [profile.id]) }}) no-repeat center top; background-size: 336px;{% endif %}">
                    <img src="{{ urls.format('IMAGE_AVATAR', [profile.id]) }}" alt="{{ profile.username }}'s Avatar" class="default-avatar-setting" style="box-shadow: 0 3px 7px #{% if profile.checkOnline %}484{% else %}844{% endif %};" /><br />
                    {% if profile.mainRankId > 1 and profile.checkBan|length < 1 %}
                        <div class="profile-details">
                            <span style="font-size: .8em;">{{ profile.title }}</span>
                            <h1 style="color: {{ profile.colour }}; text-shadow: 0 0 7px {% if profile.colour != 'inherit' %}{{ profile.colour }}{% else %}#222{% endif %}; padding: 0 0 2px;" {% if profile.getUsernameHistory %} title="Known as {{ profile.getUsernameHistory[0]['username_old'] }} before {{ profile.getUsernameHistory[0]['chahttp://flashii.test/u/2/headernge_time']|date(sakura.dateFormat) }}." {% endif %}>{{ profile.username }}</h1>
                            {% if profile.isPremium[0] %}<img src="{{ sakura.contentPath }}/images/tenshi.png" alt="Tenshi" style="vertical-align: middle;" /> {% endif %}<img src="{{ sakura.contentPath }}/images/flags/{{ profile.country|lower }}.png" alt="{{ profile.country.short }}" style="vertical-align: middle;" /> <span style="font-size: .8em; line-height: 11px;">{{ profile.country.long }}</span>
                            {% if session.checkLogin %}
                            <div class="user-actions">
                                {% if user.id == profile.id %}
                                <a class="fa fa-pencil-square-o" title="Edit your profile" href="{{ urls.format('SETTING_MODE', ['general', 'profile']) }}"></a>
                                {% else %}
                                {% if user.isFriends(profile.id) != 0 %}<a class="fa fa-{% if user.isFriends(profile.id) == 2 %}heart{% else %}star{% endif %}" title="You are friends"></a>{% endif %}
                                <a class="fa fa-user-{% if user.isFriends(profile.id) == 0 %}plus{% else %}times{% endif %}" title="{% if user.isFriends(profile.id) == 0 %}Add {{ profile.username }} as a friend{% else %}Remove friend{% endif %}" href="{% if user.isFriends(profile.id) == 0 %}{{ urls.format('FRIEND_ADD', [profile.id, php.sessionid, php.time, sakura.currentPage]) }}{% else %}{{ urls.format('FRIEND_REMOVE', [profile.id, php.sessionid, php.time, sakura.currentPage]) }}{% endif %}" id="profileFriendToggle"></a>
                                <a class="fa fa-exclamation-circle" title="Report {{ profile.username }}" href="{{ urls.format('USER_REPORT', [profile.id]) }}"></a>
                                {% endif %}
                                {% if user.permission(constant('Sakura\\Perms\\Manage::CAN_RESTRICT_USERS'), constant('Sakura\\Perms::MANAGE')) %}
                                <a class="fa fa-trash" title="Restrict {{ profile.username }}" href="?restrict={{ php.sessionid }}"></a>
                                {% endif %}
                                <hr class="default" />
                                <a class="fa fa-file-text-o" title="View {{ profile.username }}'s user page" href="{{ urls.format('USER_PROFILE', [profile.id]) }}"></a>
                                {#<a class="fa fa-list" title="View {{ profile.username }}'s threads" href="{{ urls.format('USER_THREADS', [profile.id]) }}"></a>
                                <a class="fa fa-reply" title="View {{ profile.username }}'s posts" href="{{ urls.format('USER_POSTS', [profile.id]) }}"></a>
                                <a class="fa fa-star" title="View {{ profile.username }}'s friends" href="{{ urls.format('USER_FRIENDS', [profile.id]) }}"></a> shh #}
                                {#<a class="fa fa-users" title="View {{ profile.username }}'s groups" href="{{ urls.format('USER_GROUPS', [profile.id]) }}"></a>#}
                                {% if not noUserpage %}
                                <a class="fa fa-comments-o" title="View {{ profile.username }}'s profile comments" href="{{ urls.format('USER_COMMENTS', [profile.id]) }}"></a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        <hr class="default" />
                        <b>Joined</b> <span title="{{ profile.registered|date(sakura.dateFormat) }}">{{ profile.elapsed.joined }}</span>
                        <br />
                        {% if profile.lastOnline < 1 %}
                            <b>{{ profile.username }} hasn't logged in yet.</b>
                        {% else %}
                            <b>Last online</b> <span title="{{ profile.lastOnline|date(sakura.dateFormat) }}">{{ profile.elapsed.lastOnline }}</span>
                        {% endif %}
                        <br />
                        <b>{{ profile.username }} has {% if not profile.forumStats.posts %}no{% else %}{{ profile.forumStats.posts }}{% endif %} forum post{% if profile.forumStats.posts != 1 %}s{% endif %}.</b>
                        {% if profile.birthday != '0000-00-00' and profile.birthday|split('-')[0] > 0 %}
                            <br /><b>Age</b> <span title="{{ profile.birthday }}">{{ profile.birthday(true) }} years old</span>
                        {% endif %}
                        {% if profile.profileFields or user.permission(constant('Sakura\\Perms\\Manage::USE_MANAGE'), constant('Sakura\\Perms::MANAGE')) %}
                            <hr class="default" />
                            {% if session.checkLogin %}
                                <table style="width: 100%;">
                                {% for name,field in profile.profileFields %}
                                    <tr>
                                        <td style="text-align: left; font-weight: bold;">
                                            {{ field.name }}
                                        </td>
                                        <td style="text-align: right;">
                                            {% if name == 'youtube' %}
                                                <a href="https://youtube.com/{% if field.youtubetype == true %}channel{% else %}user{% endif %}/{{ field.value }}" class="default">{% if field.youtubetype == true %}{{ profile.username }}'s Channel{% else %}{{ field.value }}{% endif %}</a>
                                            {% else %}
                                                {% if field.islink %}
                                                    <a href="{{ field.link }}" class="default">
                                                {% endif %}
                                                {{ field.value }}
                                                {% if field.islink %}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if user.permission(constant('Sakura\\Perms\\Manage::USE_MANAGE'), constant('Sakura\\Perms::MANAGE')) %}
                                    <tr>
                                        <td style="text-align: left; font-weight: bold;">E-mail address</td>
                                        <td style="text-align: right;"><a href="mailto:{{ profile.email }}" class="default">{{ profile.email }}</a></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; font-weight: bold;">Register IP</td>
                                        <td style="text-align: right;">{{ profile.registerIp }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; font-weight: bold;">Last IP</td>
                                        <td style="text-align: right;">{{ profile.lastIp }}</td>
                                    </tr>
                                {% endif %}
                                </table>
                            {% else %}
                                <b>Log in to view the full profile!</b>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <h1 style="color: #222; text-shadow: 0 0 7px #888; padding: 0 0 2px;">{{ profile.username }}</h1>
                    {% endif %}
                    <hr class="default" />
                    <b>Account Standing</b>
                    {% if profile.permission(constant('Sakura\\Perms\\Site::DEACTIVATED')) %}
                        <h2 style="color: #888; text-shadow: 0 0 7px #888; margin-top: 0;">Deactivated</h2>
                    {% elseif profile.checkBan %}
                        <h2 style="color: #222; text-shadow: 0 0 7px #222; margin-top: 0;">Banned</h2>
                    {% elseif profile.permission(constant('Sakura\\Perms\\Site::RESTRICTED')) %}
                        <h2 style="color: #800; text-shadow: 0 0 7px #800; margin-top: 0;">Restricted</h2>
                    {% elseif profile.getWarnings %}
                        <h2 style="color: #A00; text-shadow: 0 0 7px #A00; margin-top: 0;">Bad</h2>
                    {% else %}
                        <h2 style="color: #080; text-shadow: 0 0 7px #080; margin-top: 0;">Good</h2>
                    {% endif %}
                    {% if profile.getWarnings %}
                        <table class="panelTable">
                            <tr>
                                <th>Action</th>
                                <th>Duration</th>
                                <th>Reason</th>
                            </tr>
                            {% for warning in profile.getWarnings %}
                            <tr class="{{ warning.warning_action_text|lower }}">
                                <td>{{ warning.warning_action_text }}</td>
                                <td>{{ warning.warning_length }} minute{% if warning.warning_length != 1 %}s{% endif %}</td>
                                <td>{{ warning.warning_reason }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
            <div class="content-left content-column">
                {% include 'profile/' ~ profileView ~ '.twig' %}
            </div>
            <div class="clear"></div>
        </div>
    {% endif %}
{% endblock %}
