{% set friends = profile.friends(2)|batch(12) %}

{% set paginationPages = friends %}
{% set paginationUrl %}{{ route('user.profile', profile.id) }}{% endset %}

<div class="new-profile-mode-title">
    <h1>Friends</h1>
</div>
<div class="profile__friends">
    {% if friends|length > 0 %}
        {% for friend in friends[get.page|default(1) - 1] %}
            <a class="friend-box" id="friendslist-friend-{{ friend.id }}" href="{{ route('user.profile', friend.id) }}">
                <div class="avatar avatar--border friend-box__avatar" style="background-image: url('{{ route('user.avatar', friend.id) }}')"></div>
                <div class="friend-box__name" style="color: {{ friend.colour }}">
                    {{ friend.username }}
                </div>
            </a>
        {% endfor %}
        <div class="clear"></div>
    {% else %}
        <h1 class="profile__friends--none">This user has no friends :(</h1>
    {% endif %}
</div>
{% if friends|length > 1 %}
<div style="text-align: right;">
    {% include 'elements/pagination.twig' %}
</div>
{% endif %}
