{% extends 'global/master.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if sakura.lockAuth %}
        <h1 class="stylised" style="line-height: 1.8em; text-align: center;">Logging in is disabled for security checkups! Try again later.</h1>
    {% else %}
        <div class="loginPage">
            <div class="loginForm">
                <div class="head">
                    Login
                </div>
                <form method="post" action="{{ route('auth.login') }}" id="loginForm">
                    <input type="hidden" name="redirect" value="{{ sakura.referrer ? sakura.referrer : route('main.index') }}" />
                    <input type="hidden" name="session" value="{{ php.sessionid }}" />
                    <div class="leftAlign">
                        <label for="loginUserName">Username:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="text" id="loginUserName" name="username" autofocus="true" />
                    </div>
                    <div class="leftAlign">
                        <label for="loginPassword">Password:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="password" id="loginPassword" name="password" />
                    </div>
                    <div class="subLinks centreAlign">
                        <input class="inputStyling" name="remember" type="checkbox" class="ignore-css" id="loginRemember" /><label for="loginRemember">Remember Me</a>
                    </div>
                    <div class="centreAlign">
                        <button class="inputStyling" id="loginButton"><i class="fa fa-sign-in"></i> Login</button>
                    </div>
                    <div class="subLinks centreAlign" style="line-height: 1.5em;">
                        <p><a href="{{ route('auth.register') }}" class="default">I don't have an account yet!</a></p>
                        <p><a href="{{ route('auth.resetpassword') }}" class="default">I forgot my password!</a></p>
                        <p><a href="{{ route('auth.reactivate') }}" class="default">I want to reactivate my account!</a></p>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
