{% extends 'global/master.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    {% if sakura.lockAuth %}
        <h1 class="stylised" style="line-height: 1.8em; text-align: center;">Resetting password is disabled because of security checkups!</h1>
    {% else %}
    <div class="loginPage">
        <div class="passwordForm">
            <div class="head">
                Reset Password
            </div>
            <form method="post" action="{{ route('auth.resetpassword') }}" id="passwordForm">
                <input type="hidden" name="session" value="{{ session_id() }}" />
                {% if get.u is defined and get.k is defined %}
                    <input type="hidden" name="user" value="{{ get.u }}" />
                    <input type="hidden" name="key" value="{{ get.k }}" />
                    <div class="leftAlign">
                        <label for="forgotUserName">Password:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="password" id="resetPassword" name="password" />
                    </div>
                    <div class="centreAlign">
                        <button class="inputStyling">Save Password</button>
                    </div>
                {% else %}
                    <div class="leftAlign">
                        <label for="forgotUserName">Username:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="text" id="forgotUserName" name="username" />
                    </div>
                    <div class="leftAlign">
                        <label for="forgotEmail">E-mail:</label>
                    </div>
                    <div class="centreAlign">
                        <input class="inputStyling" type="text" id="forgotEmail" name="email" />
                    </div>
                    <div class="centreAlign">
                        <button class="inputStyling">Request Change</button>
                    </div>
                    <div class="subLinks centreAlign">
                        <a href="{{ route('main.infopage', 'contact') }}" class="default">Contact us</a> if you lost access to your e-mail address!
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}
