<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Cannot find page</title>
		<link rel="stylesheet" type="text/css" href="{{ sakura.resources }}/css/error.css" />
	</head>
	<body>
		<div id="wrap">
			<h1>
				<img src="{{ sakura.resources }}/images/404-info.gif" />
				The page cannot be found
			</h1>
			<p>
				The page you are looking for might have been removed, had its
				name changed, or is temporarily unavailable.
			</p>
			<hr />
			<h2>
				Please try the following:
			</h2>
			<ul>
				<li>
					If you typed the page address in the Address bar, make
					sure that it is spelled correctly.
				</li>
				<li>
					Open the <a href="{{ route('main.index') }}">flashii.net</a>
					home page, and then look for links to the information you want.
				</li>
				<li>
					Click the <img src="{{ sakura.resources }}/images/404-back.gif" /><a href="javascript:void(0);" onclick="history.go(-1);">Back</a>
					button to try another link.
				</li>
				<li>
					Click <img src="{{ sakura.resources }}/images/404-search.gif" /><a href="{{ route('main.search') }}">Search</a>
					to look for information on the Internet.
				</li>
			</ul>
			<h3>
				HTTP 404 - File not found
				<br />
				Internet Explorer
			</h3>
		</div>
	</body>
</html>
