<h1 class="stylised">Statistics</h1>
<table class="settings-table">
    <thead>
        <tr><th>Statistic</th><th>Value</th><th>Statistic</th><th>Value</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Number of posts</td>
            <td>{{ stats.postcount }}</td>
            <td>Number of users</td>
            <td>{{ stats.userscount }}</td>
        </tr>
        <tr>
            <td>Posts per day</td>
            <td>x</td>
            <td>Users per day</td>
            <td>x</td>
        </tr>
        <tr>
            <td>Number of threads</td>
            <td>{{ stats.threadcount }}</td>
            <td>Number of bans</td>
            <td>{{ stats.bancount }}</td>
        </tr>
        <tr>
            <td>Threads per day</td>
            <td>x</td>
            <td>Bans per day</td>
            <td>x</td>
        </tr>
        <tr>
            <td>Number of comments</td>
            <td>{{ stats.commentcount }}</td>
            <td>Number of uploads</td>
            <td>{{ stats.uploadcount }}</td>
        </tr>
        <tr>
            <td>Comments per day</td>
            <td>x</td>
            <td>Size of uploads</td>
            <td>x</td>
        </tr>
    </tbody>
</table><br />
<h1 class="stylised">Most recent reports</h1>
<table class="settings-table">
    <thead>
        <tr><th>Reporter</th><th>Action</th><th>When</th><th></th></tr>
    </thead>
    <tbody>
        <tr><td>Nippon Nick</td><td>User: Japan Joe</td><td>2000 years ago on cybernetics</td><td style="width: 70px;"><a href="#" class="default">View</a></td></tr>
        <tr><td>Sam Hyde</td><td>Post: bug sports a shit</td><td>4000 years ago on knuckleste.co.uk</td><td style="width: 70px;"><a href="#" class="default">View</a></td></tr>
    </tbody>
</table><br />
<h1 class="stylised">Most recent actions</h1>
<br />
<h1 class="stylised">Most recent moderation actions</h1>
