{% extends 'settings/account/master.twig' %}

{% set mode = 'Details' %}

{% block description %}
    <p>Alter the details of your account, leave fields blank to leave them unchanged.</p>
{% endblock %}

{% block settingsContent %}
    <form enctype="multipart/form-data" method="post" action="{{ route('settings.account.details') }}">
        {% if edit_email %}
            <div class="profile-field">
                <div><h2>E-mail address</h2></div>
                <div><input type="text" name="email" placeholder="{{ user.email }}" class="inputStyling"></div>
            </div>
        {% endif %}
        {% if edit_usern %}
            <div class="profile-field">
                <div><h2>Username {% if last_name_change %}(last change was <time class="time-ago" datetime="{{ last_name_change|date('r') }}">{{ last_name_change|date(config('general.date_format')) }}</time>){% endif %}</h2></div>
                <div><input type="text" name="username"{% if username_allow %} placeholder="At least {{ config('user.name_min') }} and at most {{ config('user.name_max') }} characters!"{% else %}disabled placeholder="You can't change your name right now!" {% endif %} class="inputStyling"></div>
            </div>
        {% endif %}
        {% if edit_title %}
            <div class="profile-field">
                <div><h2>Title</h2></div>
                <div><input type="text" name="title" placeholder="Max 64 characters, leaving this empty will actually reset it" class="inputStyling" value="{{ user.title }}"></div>
            </div>
        {% endif %}
        {% if edit_passw %}
            <div class="profile-field">
                <div><h2>Password</h2></div>
                <div><input type="password" name="password" placeholder="Must be at least decently strong, size doesn't matter" class="inputStyling"></div>
            </div>
        {% endif %}
        <div class="profile-save">
            <button value="{{ session_id() }}" name="session" class="inputStyling">Save</button>
            <button type="reset" class="inputStyling">Reset</button>
        </div>
    </form>
{% endblock %}
