{% extends 'settings/account/master.twig' %}

{% set mode = 'Ranks' %}

{% block description %}
    <p>Manage what ranks you're in and what is set as your main rank. Your main rank is highlighted. You get the permissions of all of the ranks you're in combined.</p>
{% endblock %}

{% block settingsContent %}
    <div class="friends-list">
        {% for rank in user.ranks %}
            <form method="post" action="{{ route('settings.account.ranks') }}" class="friend-container {% if rank.id == user.mainRankId %}active{% endif %}">
                <input type="hidden" name="session" value="{{ session_id() }}">
                <input type="hidden" name="rank" value="{{ rank.id }}">
                <button class="friends-list-data clean" name="mode" value="main">
                    <div class="friends-list-name" style="color: {{ rank.colour }};">{{ rank.name }}</div>
                </button>
                <div class="friends-list-actions">
                    <button title="{% if rank.id in locked %}You can't leave this rank{% else %}Leave rank{% endif %}" class="remove fill fa fa-{% if rank.id in locked %}shield{% else %}remove{% endif %}" name="mode" value="remove" {% if rank.id in locked %}disabled{% endif %}></button>
                    <div class="clear"></div>
                </div>
            </form>
        {% endfor %}
    </div>
{% endblock %}
