{% if user.permission(constant('Sakura\\Perms\\Site::CHANGE_HEADER')) %}
    <form enctype="multipart/form-data" method="post" action="{{ setting.action }}">
        <input type="hidden" name="sessid" value="{{ session_id() }}" />
        <input type="hidden" name="timestamp" value="{{ date().timestamp }}" />
        <input type="hidden" name="mode" value="header" />
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ background.max_size }}" />
        <div style="text-align: center;">
            <div>
                <img src="/u/{{ user.id }}/header" alt="Your Header" class="default-avatar-setting" style="max-width: 90%; max-height: 90%;" />
            </div>
            <div>
                <input type="file" name="header" />
                <div style="font-size: .8em;">
                    (Leave upload box empty to remove header)
                </div>
            </div>
            <div>
                <input type="submit" value="Submit" name="submit" class="inputStyling" />
            </div>
        </div>
    </form>
{% else %}
    <h1 class="stylised" style="margin: 2em auto; text-align: center;">You do not have the permission to change your header.</h1>
{% endif %}
