<table class="settings-table">
    <thead>
        <tr><th style="width: 100px;">IP</th><th>Useragent</th><th style="width: 120px;">Login time</th><th></th></tr>
    </thead>
    <tfoot>
        <tr><th>IP</th><th>Useragent</th><th>Login time</th><th></th></tr>
    </tfoot>
    <tbody>
        {% for s in sessions %}
        <tr {% if s.session_key == session.sessionId %} class="current-session"{% endif %}>
            <td>
                {{ s.user_ip }}
            </td>
            <td>
                {{ s.user_agent }}
            </td>
            <td>
                {{ s.session_start|date(sakura.dateFormat) }}
            </td>
            <td style="width: 90px;">
                <form method="post" action="{{ sakura.currentPage }}">
                    <input type="hidden" name="sessid" value="{{ session_id() }}" />
                    <input type="hidden" name="timestamp" value="{{ date().timestamp }}" />
                    <input type="hidden" name="sessionid" value="{{ s.session_id }}" />
                    <input type="hidden" name="mode" value="sessions" />
                    <button class="inputStyling small" name="submit">Kill</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="profile-save">
    <form method="post" action="{{ sakura.currentPage }}">
        <input type="hidden" name="sessid" value="{{ session_id() }}" />
        <input type="hidden" name="timestamp" value="{{ date().timestamp }}" />
        <input type="hidden" name="sessionid" value="all" />
        <input type="hidden" name="mode" value="sessions" />
        <button class="inputStyling" name="submit">Kill all active sessions</button>
    </form>
</div>
