<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title|default(config('general.name')) }}</title>
        <meta name="description" content="{{ description|default(config('general.description')) }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% if redirect %}
        <meta http-equiv="refresh" content="{{ redirectTimeout ? redirectTimeout : '3' }}; URL={{ redirect }}">
{% endif %}
{{ block('meta') }}

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/libraries.css">
        <link rel="stylesheet" type="text/css" href="/css/yuuno.css">
{{ block('css') }}

        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/yuuno.js"></script>
{{ block('js') }}
    </head>
    <body>
        <div id="container">
            <span id="top"></span>
            <div id="busy-window" class="ajax-busy hidden">
                <div class="ajax-inner">
                    <h2 id="busy-status"></h2>
                    <div class="fa fa-4x fa-refresh fa-spin" id="busy-icon"></div>
                </div>
            </div>
            <div class="header" id="header">
                <a class="logo" href="{{ route('main.index') }}">{% if config('general.logo') %}<img src="{{ config('general.logo') }}" alt="{{ config('general.name') }}">{% else %}{{ config('general.name') }}{% endif %}</a>
                <div class="menu fa">
                    <div class="menu-nav" id="navMenuSite">
                        <!-- Navigation menu, displayed on left side of the bar. -->
                        <a class="menu-item fa-home" href="{{ route('main.index') }}" title="Home"></a>
                        <a class="menu-item fa-newspaper-o" href="{{ route('news.category') }}" title="News"></a>
                        <a class="menu-item fa-commenting" href="{{ route('chat.redirect') }}" title="Chat"></a>
                        <a class="menu-item fa-list" href="{{ route('forums.index') }}" title="Forums"></a>
                        <a class="menu-item fa-search" href="{{ route('main.search') }}" title="Search"></a>
                        {% if user.isActive %}
                            <a class="menu-item fa-users" href="{{ route('members.index') }}" title="Members"></a>
                            <a class="menu-item fa-heart" href="{{ route('premium.index') }}" title="Support us"></a>
                        {% endif %}
                    </div>
                    <div class="menu-ucp" id="navMenuUser">
                        <!-- User menu, displayed on right side of the bar. -->
                        {% if user.isActive %}
                            <a class="menu-item avatar" href="{{ route('user.profile', user.id) }}" title="Logged in as {{ user.username }}" style="background-image: url('{{ route('user.avatar', user.id) }}'); width: auto; color: {{ user.colour }}; border-color: {{ user.colour }}; font-weight: 700;"></a>
                            {#<a class="menu-item fa-envelope" href="#" title="Messages"></a>#}
                            <a class="menu-item fa-bell" href="javascript:;" title="Notifications"></a>
                            {% if user.permission(constant('Sakura\\Perms\\Manage::USE_MANAGE'), constant('Sakura\\Perms::MANAGE')) %}
                                <a class="menu-item fa-gavel" href="{{ route('manage.index') }}" title="Manage"></a>
                            {% endif %}
                            <a class="menu-item fa-cogs" href="{{ route('settings.index') }}" title="Settings"></a>
                            <a class="menu-item fa-sign-out" href="{{ route('auth.logout') }}" title="Logout"></a>
                        {% else %}
                            <a class="menu-item fa-magic" href="{{ route('auth.register') }}" title="Register"></a>
                            <a class="menu-item fa-sign-in" href="{{ route('auth.login') }}" title="Login"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="contentwrapper">
                <div id="notifications" class="alerts"></div>
                {% if profile is defined ? profile.background : (user.permission(constant('Sakura\\Perms\\Site::CHANGE_BACKGROUND')) and (user.backgroundSitewide or showBG) and user.background) %}
                    <div id="userBackground" style="background-image: url('{{ route('user.background', (profile is defined ? profile : user).id) }}');"></div>
                {% endif %}
                {% if not user.isActive and server['REQUEST_URI'] != route('auth.login') %}
                <div class="headerLoginContainer">
                    <form method="post" action="{{ route('auth.login') }}" id="headerLoginForm">
                        <input type="hidden" name="redirect" value="{{ server['REQUEST_URI'] }}">
                        <div>
                            <label for="headerLoginUserName">Username:</label>
                            <input type="text" id="headerLoginUserName" name="username" class="inputStyling" placeholder="Username">
                        </div>
                        <div>
                            <label for="headerLoginPassword">Password:</label>
                            <input type="password" id="headerLoginPassword" name="password" class="inputStyling" placeholder="Password">
                        </div>
                        <div>
                            <input type="checkbox" name="remember" id="headerLoginRemember">
                            <label for="headerLoginRemember">Remember me</label>
                        </div>
                        <div>
                            <button class="inputStyling small" name="session" value="{{ session_id() }}"><i class="fa fa-sign-in"></i> Login</button>
                        </div>
                    </form>
                </div>
                {% endif %}
                {% if user.permission(constant('Sakura\\Perms\\Site::RESTRICTED')) %}
                    <div class="headerNotify" style="background: repeating-linear-gradient(-45deg, #B33, #B33 10px, #B00 10px, #B00 20px); color: #FFF; border: 1px solid #C00; box-shadow: 0 0 3px #C00;">
                        <h1>Your account is currently in <span style="font-weight: 700 !important;">restricted mode</span>!</h1>
                        <div>A staff member has set your account to restricted mode most likely due to violation of the rules. While restricted you won't be able to use most public features of the site. If you think this is a mistake please <a href="{{ route('info.contact') }}" style="color: inherit;">get in touch with one of our staff members</a>.</div>
                    </div>
                {% endif %}

                <noscript>
                    <div class="headerNotify">
                        <h1>You have JavaScript disabled!</h1>
                        <div>A lot of things are not going to work without it so I recommend you turn it on or use a capable browser.</div>
                    </div>
                </noscript>

                {% if config('general.cover') %}
                    <div class="headerAnnouncement" style="background-image: url('{{ config('cover') }}');"></div>
                {% endif %}

                {% block content %}
                    <h1 class="stylised" style="text-align: center; margin: 2em auto;">There is nothing here!</h1>
                {% endblock %}
            </div>
            <div class="footer">
                <div class="ftsections">
                    <div class="copycentre">Powered by <a href="https://github.com/flashwave/sakura/">Sakura</a> &copy; 2013-2016 <a href="http://aitemu.moe/">Aitemu</a></div>
                    <ul class="ftsection">
                        <li class="fthead">General</li>
                        <li><a href="{{ route('main.index') }}">Home</a></li>
                        <li><a href="{{ route('news.category') }}">News</a></li>
                        <li><a href="{{ route('main.search') }}">Search</a></li>
                        <li><a href="{{ route('info.contact') }}">Contact</a></li>
                        <li><a href="https://sakura.flash.moe">Changelog</a></li>
                        <li><a href="{{ route('premium.index') }}">Support us</a></li>
                    </ul>
                    <ul class="ftsection">
                        <li class="fthead">Community</li>
                        <li><a href="{{ route('forums.index') }}">Forums</a></li>
                        <li><a href="https://twitter.com/_flashii">Twitter</a></li>
                        <li><a href="https://youtube.com/user/flashiinet">YouTube</a></li>
                        <li><a href="https://steamcommunity.com/groups/flashiinet">Steam</a></li>
                        <li><a href="https://github.com/aitemu">GitHub</a></li>
                    </ul>
                    <ul class="ftsection">
                        <li class="fthead">Information</li>
                        <li><a href="{{ route('main.faq') }}">FAQ</a></li>
                        <li><a href="{{ route('info.rules') }}">Rules</a></li>
                        <li><a href="{{ route('status.index') }}">Server Status</a></li>
                        <li><a href="{{ route('info.terms') }}">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        Sakura.Config.Set({
            LoggedIn: {{ user.isActive ? 'true' : 'false' }},
            UserId: {{ user.id }},
            SessionId: "{{ session_id() }}",
        });

        Yuuno.Main.Startup();

        {% if config('dev.show_changelog') and stats %}
            Sakura.Changelog.Build(Sakura.DOM.ID('indexPanel'));
        {% endif %}

        {% if config('dev.show_errors') %}
            window.addEventListener("error", function () {
                Yuuno.Notifications.Display({
                    id: -(Date.now()),
                    title: "Something happened!",
                    text: "Check the console for more info.",
                    image: "FONT:fa-bomb",
                    link: null,
                });
            });
        {% endif %}
        </script>
    </body>
</html>
