<!DOCTYPE html>
<html>
	<head>
        <!-- META -->
		<meta charset="{{ sakura.charset }}" />
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ sakura.sitedesc }}" />
        <meta name="keywords" content="{{ sakura.sitetags }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        {% if page.redirect %}
        <meta http-equiv="refresh" content="3; URL={{ page.redirect }}" />
        {% endif %}
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ sakura.resources }}/css/mio.css" />
        <!-- JS -->
        <script type="text/javascript" src="{{ sakura.resources }}/js/mio.js"></script>
	</head>
    <body>
        <div class="flashii-bar">
            <a href="javascript:void(0);" onclick="flashii_login(true);">Login</a> |
            <a href="/register">Register</a>
        </div>
		<a href="//{{ sakura.urls.main }}/">
			<img class="logo" src="/content/pixel.png" alt="{{ sakura.sitename }}" />
		</a>
		<br />
