{% if forum.permission(constant('Sakura\\Perms\\Forum::VIEW'), user.id) %}
    <div class="forumForum">
        <div class="forumIcon {% if forum.unread(user.id) %}unread {% endif %}fa fa-3x {% if forum.icon %}{{ forum.icon }}{% else %}{% if forum.type == 2 %}fa-chevron-circle-right{% elseif forum.type == 1 %}fa-folder{% else %}fa-comments{% endif %}{% endif %}"></div>
        <div class="forumTitle">
            <div class="name"><a href="{% if forum.type == 2 %}{{ forum.link }}{% else %}{{ route('forums.forum', forum.id) }}{% endif %}" class="default">{{ forum.name }}</a></div>
            <div class="desc">
                {{ forum.description }}
                {% if forum.forums|length %}
                    <div class="subforums">
                        Subforums:
                        {% for forum in forum.forums %}
                            {% if forum.unread(user.id) %}<span style="font-variant: small-caps; color: #6C5D7B; text-shadow: 0px 0px 5px #9475B2;">[!]</span>{% endif %} <a href="{% if forum.type == 2 %}{{ forum.link }}{% else %}{{ route('forums.forum', forum.id) }}{% endif %}" class="default">{{ forum.name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if forum.type != 2 %}
        <div class="forumCount">
            <div class="topics" title="Amount of topics in this forum.">{{ forum.topicCount }}</div>
            <div class="posts" title="Amount of posts in this forum.">{{ forum.postCount }}</div>
        </div>
        <div class="forumLastPost">
            <div>
                {% if forum.lastPost.id %}
                    <a href="{{ route('forums.topic', forum.lastPost.topic) }}" class="default">{{ forum.lastPost.subject|slice(0, 30) }}{% if forum.lastPost.subject|length > 30 %}...{% endif %}</a><br>
                    <time datetime="{{ forum.lastPost.time|date('r') }}">{{ forum.lastPost.time|date('D Y-m-d H:i:s T') }}</time> by {% if forum.lastPost.poster.id %}<a href="{{ route('user.profile', forum.lastPost.poster.id) }}" class="default" style="color: {{ forum.lastPost.poster.colour }}; text-shadow: 0 0 5px {% if forumlastPost.poster.colour != 'inherit' %}{{ forum.lastPost.poster.colour }}{% else %}#222{% endif %};">{{ forum.lastPost.poster.username }}</a>{% else %}[deleted user]{% endif %} <a href="{{ route('forums.post', forum.lastPost.id) }}" class="default fa fa-tag"></a>
                {% else %}
                    There are no posts in this forum.<br>&nbsp;
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endif %}
