{% extends 'global/master.twig' %}

{% block title %}You are banned!{% endblock %}

{% block content %}
    <div class="content">
        <div class="content-column news banned">
            <div style="padding: 20px;">
                <h1>You got dunked on!</h1>
                {% if ban.reason %}
                <h3>The following reason was supplied:</h3>
                <p>
                    {{ ban.reason|raw }}
                </p>
                {% else %}
                <h3>No reason was supplied.</h3>
                {% endif %}
                <br>
                <h2>Additional information</h2>
                <ul style="margin-left: 30px;">
                    <li>You were banned on {{ ban.issued|date('D Y-m-d H:i:s T') }}.</li>
                    <li>{% if ban.expires %}This ban expires on {{ ban.expires|date('D Y-m-d H:i:s T') }}.{% else %}<b>You are permanently banned.</b>{% endif %}</li>
                    {% if ban.expires %}
                    <li>You were banned by <a href="{{ route('user.profile', ban.issuer.id) }}" class="default">{{ ban.issuer.username }}</a>.</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
