{% extends 'master.twig' %}

{% set title = 'Frequently Asked Questions' %}

{% block content %}
    <div class="content settings">
        <div class="content-right content-column">
            <div class="head">
                Frequently Asked Questions
            </div>
            <div class="right-menu-nav">
            {% for question in page.questions %}
            <a href="#{{ question.faq_shorthand }}" class="default">{{ question.faq_question }}</a>
            {% endfor %}
            </div>
        </div>
        <div class="content__left">
            {% for question in page.questions %}
            <div class="head" id="{{ question.faq_shorthand }}">
                {{ question.faq_question }}
                <a href="#{{ question.faq_shorthand }}" class="fa fa-quote-right news-rss default"></a>
            </div>
            <p>{{ question.faq_answer }}</p>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
