{% extends 'master.twig' %}

{% set title = 'Frequently Asked Questions' %}

{% block content %}
    <div class="content settings">
        <div class="content--right">
            <div class="content__header content__header--alt">
                Frequently Asked Questions
            </div>
            <div class="settings__navigation">
                {% for question in page.questions %}
                    <a href="#{{ question.faq_shorthand }}" class="settings__navigation-link">{{ question.faq_question }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="content--left">
            {% for question in page.questions %}
            <div class="content__header" id="{{ question.faq_shorthand }}">
                {{ question.faq_question }}
                <a href="#{{ question.faq_shorthand }}" class="fa fa-quote-right news-rss default"></a>
            </div>
            <p>{{ question.faq_answer }}</p>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
