{% extends 'master.twig' %}

{% set title %}{{ page.category }} / {{ page.mode }}{% endset %}

{% block content %}
    <div class="content settings messages">
        <div class="content__right">
            {% include 'elements/settingsNav.twig' %}
        </div>
        <div class="content__left">
            <div class="head">
                {{ page.category }} / {{ page.mode }}
            </div>
            <div class="settings-explanation">
            {% for descline in page.description %}
                <div>{{ include(template_from_string(descline)) }}</div>
            {% endfor %}
            </div>
            {% include templates ~ '/' ~ current ~ '.twig' %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
