{% extends 'settings/appearance/master.twig' %}

{% set mode = 'Avatar' %}

{% block description %}
    <p>Maximum image size is {{ config('file.avatar.max_width') }}x{{ config('file.avatar.max_height') }} and can't be larger than {{ config('file.avatar.max_file_size')|byte_symbol }}.</p>
{% endblock %}

{% block settingsContent %}
    <form enctype="multipart/form-data" method="post" action="{{ route('settings.appearance.avatar') }}">
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ config('file.avatar.max_file_size') }}">
        <div style="text-align: center;">
            <div>
                <img src="{{ route('file.avatar', user.id) }}" alt="Your Avatar" class="default-avatar-setting">
            </div>
            <div>
                <input type="file" name="avatar">
                <div style="font-size: .8em;">
                    (Leave upload box empty to remove avatar)
                </div>
            </div>
            <div>
                <button value="{{ session_id() }}" name="session" class="inputStyling">Upload</button>
            </div>
        </div>
    </form>
{% endblock %}
