{% extends 'settings/appearance/master.twig' %}

{% set mode = 'Background' %}
{% set showBG = true %}

{% block description %}
    <p>Maximum image size is {{ config('file.background.max_width') }}x{{ config('file.background.max_height') }} and can't be larger than {{ config('file.background.max_file_size')|byte_symbol }}.</p>
{% endblock %}

{% block settingsContent %}
    <form enctype="multipart/form-data" method="post" action="{{ route('settings.appearance.background') }}">
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ config('file.background.max_file_size') }}">
        <div style="text-align: center;">
            <div>
                <input type="file" name="background">
                <div style="font-size: .8em;">
                    (Leave upload box empty to remove background)
                </div>
            </div>
            <div>
                <button value="{{ session_id() }}" name="session" class="inputStyling">Upload</button>
            </div>
        </div>
    </form>
{% endblock %}
