{% extends 'settings/appearance/master.twig' %}

{% set mode = 'Background' %}

{% block description %}
    <p>Maximum image size is {{ config('background_max_width') }}x{{ config('background_max_height') }}, minimum image size is {{ config('background_min_width') }}x{{ config('background_min_height') }}, maximum file size is {{ config('background_max_fsize')|byte_symbol }}.</p>
{% endblock %}

{% block settingsContent %}
    <form enctype="multipart/form-data" method="post" action="{{ route('settings.appearance.background') }}">
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ config('background_max_fsize') }}" />
        <div style="text-align: center;">
            <div>
                <img src="{{ route('file.background', user.id) }}" alt="Your Background" class="default-avatar-setting" style="max-width: 90%; max-height: 90%;" />
            </div>
            <div>
                <input type="file" name="background" />
                <div style="font-size: .8em;">
                    (Leave upload box empty to remove background)
                </div>
            </div>
            <div>
                <button value="{{ session_id() }}" name="session" class="inputStyling">Upload</button>
            </div>
        </div>
    </form>
{% endblock %}
