{% extends 'master.twig' %}

{% set title = 'Login' %}

{% block content %}
    <div class="auth content content--auth">
        <div class="content__header">
            Login
        </div>
        <form method="post" action="{{ route('auth.login') }}">
            <input type="hidden" name="redirect" value="{{ server['HTTP_REFERER']|default(route('main.index')) }}">
            <label>
                <div class="auth__label">Username</div>
                <input class="input__text" type="text" name="username" autofocus>
            </label>
            <label>
                <div class="auth__label">Password</div>
                <input class="input__text" type="password" name="password">
            </label>
            <label>
                <div class="auth__label auth__label--checkbox">
                    <input name="remember" type="checkbox">
                    Remember me!
                </div>
            </label>
            <button class="input__button auth__button" name="session" value="{{ session_id() }}">
                <i class="fa fa-sign-in"></i> Login
            </button>
            <div class="auth__subtext">
                <a href="{{ route('auth.register') }}">I don't have an account yet!</a><br>
                <a href="{{ route('auth.resetpassword') }}">I forgot my password!</a><br>
                <a href="{{ route('auth.reactivate') }}">I want to reactivate my account!</a>
            </div>
        </form>
    </div>
{% endblock %}
