{% extends 'master.twig' %}

{% set title = 'Register' %}

{% block content %}
    <div class="auth content content--auth">
    {% if config('user.disable_registration') %}
        <div class="fa fa-remove fa-5x" style="display: block; margin: 10px 0 0;"></div>
        <h1>Registration is disabled.</h1>
        <p>Please try again later.</p>
    {% else %}
        <div class="content__header">
            Register
        </div>
        <form id="registerForm" method="post" action="{{ route('auth.register') }}">
            <label>
                <div class="auth__label">Username</div>
                <input class="input__text" type="text" name="username" autofocus placeholder="Any character"{% if get.username is defined %} value="{{ get.username }}"{% endif %}>
            </label>
            <label>
                <div class="auth__label">E-mail</div>
                <input class="input__text" type="text" name="email" placeholder="Used for e.g. password retrieval"{% if get.email is defined %} value="{{ get.email }}"{% endif %}>
            </label>
            <label>
                <div class="auth__label">Password</div>
                <input class="input__text" type="password" name="password" placeholder="Using special characters is recommended">
            </label>
            <button class="input__button auth__button" name="session" value="{{ session_id() }}">
                <i class="fa fa-magic"></i> Register
            </button>
            <div class="auth__subtext">
                By creating an account you agree to the <a href="{{ route('info.terms') }}">Terms of Service</a>.<br>
                You are only allowed to make a single account.
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}
