{% extends 'master.twig' %}

{% set title = 'Reset Password' %}

{% block content %}
    <div class="auth content content--auth">
        <div class="content__header">
            Reset Password
        </div>
        <form method="post" action="{{ route('auth.resetpassword') }}" id="passwordForm">
            <input type="hidden" name="session" value="{{ session_id() }}">
            {% if get.u is defined and get.k is defined %}
                <input type="hidden" name="user" value="{{ get.u }}">
                <input type="hidden" name="key" value="{{ get.k }}">
                <label>
                    <div class="auth__label">Password</div>
                    <input class="input__text" type="password" name="password" autofocus>
                </label>
                <button class="input__button auth__button">
                    Save Password
                </button>
            {% else %}
                <label>
                    <div class="auth__label">Username</div>
                    <input class="input__text" type="text" name="username" autofocus>
                </label>
                <label>
                    <div class="auth__label">E-mail</div>
                    <input class="input__text" type="text" name="email">
                </label>
                <button class="input__button auth__button">
                    Request Change
                </button>
                <div class="auth__subtext">
                    <a href="{{ route('info.contact') }}">Contact us</a> if you lost access to your e-mail address!
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
