{% extends 'master.twig' %}

{% set title %}Forums / {{ forum.name }}{% endset %}

{% set forumBackLink %}{{ route('forums.index') }}{% endset %}
{% set forumNewLink %}{{ route('forums.new', forum.id) }}{% endset %}
{% set forumMarkRead %}{{ route('forums.mark', forum.id) }}?s={{ session_id() }}{% endset %}

{% block content %}
    <div class="content forum">
        {% include 'forum/elements/forumBase.twig' %}
    </div>
{% endblock %}
