{% set paginationClass = 'rightSide' %}

<div class="buttonRow pagination">
    <div class="leftSide">
        {% if forumBackLink %}
            <a href="{{ forumBackLink }}" class="forumbtn"><span class="fa fa-backward"></span> Back</a>
        {% endif %}
        {% if forumReplyLink %}
            <a href="{{ forumReplyLink }}" class="forumbtn"><span class="fa fa-reply-all"></span> Reply</a>
        {% endif %}
        {% if forumNewLink %}
            <a href="{{ forumNewLink }}" class="forumbtn"><span class="fa fa-pencil-square-o"></span> New Thread</a>
        {% endif %}
        {% if forumMarkRead %}
            <a href="{{ forumMarkRead }}" class="forumbtn"><span class="fa fa-check-square-o"></span> Mark as Read</a>
        {% endif %}
        {% if forumSticky %}
            <a href="{{ forumSticky }}" class="forumbtn"><span class="fa fa-thumb-tack"></span> Stick</a>
        {% elseif forumUnsticky %}
            <a href="{{ forumUnsticky }}" class="forumbtn"><span class="fa fa-remove"></span> Unstick</a>
        {% endif %}
        {% if forumAnnounce %}
            <a href="{{ forumAnnounce }}" class="forumbtn"><span class="fa fa-bullhorn"></span> Announce</a>
        {% elseif forumUnannounce %}
            <a href="{{ forumUnannounce }}" class="forumbtn"><span class="fa fa-remove"></span> Unannounce</a>
        {% endif %}
        {% if forumLock %}
            <a href="{{ forumLock }}" class="forumbtn"><span class="fa fa-lock"></span> Lock</a>
        {% elseif forumUnlock %}
            <a href="{{ forumUnlock }}" class="forumbtn"><span class="fa fa-unlock"></span> Unlock</a>
        {% endif %}
        {% if forumRestore %}
            <a href="{{ forumRestore }}" class="forumbtn"><span class="fa fa-history"></span> Restore</a>
        {% endif %}
        {% if forumTrash %}
            <a href="{{ forumTrash }}" class="forumbtn"><span class="fa fa-trash"></span> Trash</a>
        {% elseif forumPrune %}
            <a href="{{ forumPrune }}" class="forumbtn"><span class="fa fa-bomb"></span> Prune</a>
        {% endif %}
    </div>
    {% include 'elements/pagination.twig' %}
    <div class="clear"></div>
</div>
