{% extends 'global/master.twig' %}

{% set title %}Forums / {{ forum.name }}{% endset %}

{% set forumBackLink %}{{ route('forums.index') }}{% endset %}
{% set forumNewLink %}{{ urls.format('FORUM_NEW_THREAD', [forum.id]) }}{% endset %}
{% set forumMarkRead %}{{ route('forums.mark', forum.id) }}?s={{ php.sessionid }}{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content homepage forum viewforum">
        <div class="content-column">
            {% include 'forum/forum.twig' %}
        </div>
    </div>
{% endblock %}
